{{ define "main" }}

{{ $pub_type_csl := "" }}
{{ $pub_type_display := "" }}
{{ if .Params.publication_types }}
  {{ if reflect.IsSlice .Params.publication_types }}
    {{ $pub_type_csl = index .Params.publication_types 0 }}
    {{ $pub_type_display = i18n (printf "pub_%s" (strings.Replace $pub_type_csl "-" "_")) | default (strings.Title $pub_type_csl) }}
  {{ end }}
{{ end }}

<main class="w-full max-w-7xl px-8 mx-auto"> 
      <h1 class="mt-2 text-4xl font-bold tracking-tight text-slate-900 dark:text-slate-100">
        {{- .Title -}}
      </h1>
  <div > {{ .Content }} </div>
  
      <div class="container mx-auto prose prose-slate lg:prose-xl dark:prose-invert mt-5">
        <!--{{ .Scratch.Set "invert_pager" true }}-->
        {{ partial "page_footer" . }}
      </div>  
</main>

{{ end }}
