  /* Custom avatar size on homepage */
  .avatar-wrapper {
    position: relative;
    width: 225px; /* Match image size in about.avatar widget */
    height: 225px;
    margin-left: auto;
    margin-right: auto;
  }
  .avatar {
    width: auto;
    height: auto;
    max-width: 225px;
    max-height: 225px;
    object-fit: cover;
  }

  .container {
    max-width: 80%;
}



div.list {
  counter-reset: list-number 9; /* initializes counter to 0; use -1 for zero-based numbering */
}

/** Note that we can use counter-increment in :before psuedo element **/
div.list div:before {
  counter-increment: list-number -1;
  content: counter(list-number) ". ";
}