  /* Custom avatar size on homepage */
  .avatar-wrapper {
    position: relative;
    width: 225px; /* Match image size in about.avatar widget */
    height: 225px;
    margin-left: auto;
    margin-right: auto;
  }
  .avatar {
    width: auto;
    height: auto;
    max-width: 225px;
    max-height: 225px;
    object-fit: cover;
  }

  .container {
    max-width: 80%;
}

.publication-list {
  text-align: left !important;
}

.content-research {
  max-width: 2800px !important;  /* Increase or decrease as needed */
}

.my_list {
  list-style-type: disc;
  padding-left: 1.5rem;
  margin-bottom: 1rem;
}

.my_list_nest {
  list-style-type: circle;
  padding-left: 1.5rem;
}

.article-container {
  max-width: 1800px !important;  /* Increase or decrease as needed */
  margin: 0 auto;
  padding: 0 0.5rem;
}

div.list {
  counter-reset: list-number 11; /* initializes counter to 0; use -1 for zero-based numbering */
}

/** Note that we can use counter-increment in :before psuedo element **/
div.list div:before {
  counter-increment: list-number -1;
  content: counter(list-number) ". ";
}


div.list_pb  {
  counter-reset: list-number 11; /* initializes counter to 0; use -1 for zero-based numbering */
}

div.list_pb  div:before {
  counter-increment: list-number -1;
  content: counter(list-number) ". ";
}

